$light-color: #fff;
$dark-color: rgba(0, 0, 0, 0.87);
$grey-color: #7E7E7E;

$block-background: transparent;

$border-color--default: #D0CFCF;
$border-color--error: #CB3D40;

$border-text-color--default: #7E7E7E;
$border-text-color--error: #CB3D40;
