@import '../styles/variables';
@import '../styles/mixins';

/*#region Button */
.button, .button.MuiButtonBase-root  {
  width: 100px;
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  border-radius: 80px;
  background: #F4E041;
  text-decoration: none;
  text-transform: capitalize;

  @include nunito-body;
}

.button:hover,
.button.MuiButtonBase-root:hover {
  background: #FFE302;
}

.button:disabled,
.button.MuiButtonBase-root:disabled {
  color: $light-color;
  background: #B4B4B4;
  text-transform: capitalize;
}
/*#endregion Button */

