@import '../../styles/mixins';
@import '../../styles/variables';

.successful {
  @include block-styles;
  height: 380px;
  background-image: url('../../assets/success-image.svg');
  background-position: center;
  background-repeat: no-repeat;

  &__title {
    @include nunito-head;
  }
}

