@import '../../styles/mixins';
@import '../../styles/variables';

.successful {
  @include block-styles;
  padding-bottom: 100px;
  height: 480px;

  &__title {
    @include nunito-head;
    margin-bottom: 50px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}
